@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

body {
    position: relative;
    height: 100vh;
    background-color: #000;
    background-image: url(./imagem.jpg);
    background-size: cover;
    background-position: center;
  }
  
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #9c039f;
    font-size: 21px;
}

a:hover {
    color: #631872;
}

/* Header */
header{
    position: relative;
    padding: 0 2rem;
}

.navbar{
    width: 100%;
    padding: 18px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
    
}

.navbar .logo a {
    font-size: 2rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn  {
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: #631872;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover{
    scale: 1.08;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* Dropdown Menu */

.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*Sobre*/

.sobre {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 1200px;
    margin-bottom: 150px;
}

.txt-sobre {
    flex: 1;
    padding-right: 20px;
    color: #000;
}
.txt-sobre h1 {
    font-size: 2.5rem;
}

.image {
    flex: 1;
}

.image img {
    max-width: 100%;
    height: auto;
    max-height: 350px;
}
/*Em desenvolvimento*/
.proximo{
    align-items: center;
    margin: auto;
    max-width: 400px; 
    color: #000;
}
/*Responsividade */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 992px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }

}
